@font-face {
  font-family: 'Exo2-LightItalic';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Exo2-LightItalic.woff2") format("woff2"), url("/fonts/Exo2-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Light';
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Exo2-Light.woff2") format("woff2"), url("/fonts/Exo2-Light.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Regular';
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Exo2-Regular.woff2") format("woff2"), url("/fonts/Exo2-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Italic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Exo2-Italic.woff2") format("woff2"), url("/fonts/Exo2-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-SemiBold';
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Exo2-SemiBold.woff2") format("woff2"), url("/fonts/Exo2-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Bold';
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Exo2-Bold.woff2") format("woff2"), url("/fonts/Exo2-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Exo2-ExtraBold.woff2") format("woff2"), url("/fonts/Exo2-ExtraBold.woff") format("woff");
}

body {
  font-family: 'Exo2-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #111111;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.gallery-2__line img {
  -webkit-animation: marquee 50s infinite linear;
          animation: marquee 50s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
