@font-face {
  font-family: 'Exo2-LightItalic';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Exo2-LightItalic.woff2") format("woff2"), url("/fonts/Exo2-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Light';
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Exo2-Light.woff2") format("woff2"), url("/fonts/Exo2-Light.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Regular';
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Exo2-Regular.woff2") format("woff2"), url("/fonts/Exo2-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Italic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Exo2-Italic.woff2") format("woff2"), url("/fonts/Exo2-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-SemiBold';
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Exo2-SemiBold.woff2") format("woff2"), url("/fonts/Exo2-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-Bold';
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Exo2-Bold.woff2") format("woff2"), url("/fonts/Exo2-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Exo2-ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Exo2-ExtraBold.woff2") format("woff2"), url("/fonts/Exo2-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
}

body {
  font-family: 'Exo2-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.hero__title, .text__span-2 {
  font-family: 'Exo2-Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.text__span {
  font-family: 'Exo2-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: 800;
}

.header__link {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #111111;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11px;
  padding-left: 48px;
  margin-right: -18px;
}

.header__link {
  font-size: 70px;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke: 1px #979797;
}

.header__link-1,
.header__link-2,
.header__link-3 {
  display: block;
}

.header__link-2,
.header__link-3 {
  margin-top: -69px;
}

.header__link-1 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}

.header__link-2 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.16);
}

.hero {
  margin-top: 16px;
}

.hero__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 82%;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__img-wrapper {
  position: relative;
}

.hero__play-btn {
  position: absolute;
  top: 29px;
  right: -47px;
  width: 119px;
  height: 119px;
  background-image: url("/images/icons/play-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero__title-wrapper {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
}

.hero__down-btn {
  display: block;
  width: 152px;
  height: 152px;
  margin-top: -10px;
  background-image: url("/images/icons/down-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: -16px;
}

.hero__link {
  margin-left: 10px;
}

.gallery-1 {
  margin-top: 18px;
}

.gallery-1__container {
  max-width: 93%;
}

.gallery-1__img img {
  display: block;
}

.gallery-1__img--1 {
  margin-right: 54px;
  margin-left: auto;
  width: 442px;
}

.gallery-1__img--2 {
  position: relative;
  margin-top: -270px;
  margin-left: 12%;
  width: 462px;
}

.gallery-1__img--2::after {
  position: absolute;
  top: -119px;
  right: -134px;
  content: '';
  width: 235px;
  height: 202px;
  background-image: url("/images/icons/eye.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery-1__img--3 {
  margin-top: 121px;
  margin-right: 185px;
  margin-left: auto;
  width: 442px;
}

.gallery-1__img--4 {
  margin-top: -161px;
  width: 716px;
}

.gallery-1__video-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 158px;
}

.gallery-1__video-img {
  display: block;
  z-index: 1;
}

.gallery-1__video-btn {
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.gallery-1__img--5 {
  margin-top: 237px;
  margin-left: 98px;
  width: 474px;
}

.gallery-1__img--6 {
  margin-left: auto;
  margin-top: -368px;
  margin-right: 82px;
  width: 589px;
}

.gallery-1__img--7 {
  position: relative;
  margin: 292px auto 0;
  width: 1001px;
}

.gallery-1__img--7::after {
  position: absolute;
  top: 179px;
  right: -170px;
  content: '';
  width: 193px;
  height: 209px;
  background-image: url("/images/icons/choker.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery-2 {
  margin-top: -374px;
  padding-top: 491px;
  padding-bottom: 373px;
  background-color: #fff;
  color: #111111;
}

.text {
  font-size: 152px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 10px;
}

.text__span {
  position: relative;
  display: block;
  line-height: 1.06;
  letter-spacing: 18px;
}

.text__line-1 {
  display: block;
  z-index: -1;
}

.text__span-2 {
  display: inline-block;
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 41px;
  font-size: 152px;
  line-height: 1;
  letter-spacing: 4px;
}

.gallery-2 .container {
  overflow: hidden;
}

.gallery-2__line,
.gallery-3__line {
  height: 140px;
  width: 105%;
  margin-left: -50px;
}

.gallery-2__line--red {
  margin-top: 230px;
  background: url("/images/icons/red-line.jpg") repeat-x;
  -webkit-animation: ani 60s linear infinite;
          animation: ani 60s linear infinite;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.gallery-2__line--black {
  margin-top: -100px;
  background: url("/images/icons/black-line.jpg") repeat-x;
  -webkit-animation: ani-reverse 60s linear infinite;
          animation: ani-reverse 60s linear infinite;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.gallery-3__line--white {
  margin-top: -150px;
  background: url("/images/icons/white-line.jpg") repeat-x;
  -webkit-animation: ani-reverse 60s linear infinite;
          animation: ani-reverse 60s linear infinite;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.gallery-3__line--red {
  margin-top: 230px;
  background: url("/images/icons/red-line.jpg") repeat-x;
  -webkit-animation: ani 60s linear infinite;
          animation: ani 60s linear infinite;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

@-webkit-keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

@-webkit-keyframes ani-reverse {
  0% {
    background-position: 100vw 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes ani-reverse {
  0% {
    background-position: 100vw 0;
  }
  100% {
    background-position: 0 0;
  }
}

.gallery-2__container {
  margin: 0 auto;
  max-width: 1535px;
  padding: 0 20px;
  margin-top: 170px;
}

.gallery-2__img img {
  display: block;
}

.gallery-2__img--8 {
  margin-left: 144px;
  width: 924px;
}

.gallery-2__img--9 {
  margin-left: auto;
  margin-top: 112px;
  margin-right: 99px;
  width: 590px;
}

.gallery-2__img--10 {
  margin-top: -293px;
  width: 480px;
}

.gallery-3 {
  margin-top: -446px;
}

.gallery-3__container {
  max-width: 1535px;
  padding: 0 20px;
  margin: 0 auto;
}

.gallery-3__img img {
  display: block;
}

.gallery-3__img--11 {
  margin-left: auto;
  width: 532px;
}

.gallery-3__img--12 {
  margin-top: -294px;
  margin-left: 35px;
  width: 570px;
}

.gallery-3__img--13 {
  margin-right: 113px;
  margin-left: auto;
  width: 570px;
}

.gallery-3__img--14 {
  position: relative;
  margin-left: 134px;
  margin-top: 28px;
  width: 585px;
}

.gallery-3__img--14::after {
  position: absolute;
  top: -86px;
  right: -112px;
  content: '';
  width: 249px;
  height: 245px;
  background-image: url("/images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery-3__img--15 {
  margin-left: auto;
  margin-right: 202px;
  margin-top: 147px;
  width: 443px;
}

.gallery-3__img--16 {
  margin-top: -176px;
  margin-left: 34px;
  width: 480px;
}

.gallery-3__img--17 {
  margin-left: auto;
  margin-right: 170px;
  margin-top: -157px;
  width: 606px;
}

.about {
  margin-top: 238px;
}

.about__container {
  max-width: 1426px;
  margin: 0 auto;
  padding: 0 20px;
}
