@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $black;
  @extend %exo2-regular;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-left: 48px;
  margin-right: -18px;
}
.header__link {
  @extend %montserrat-bold;
  font-size: 70px;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke: 1px #979797;
}
.header__link-1,
.header__link-2,
.header__link-3 {
  display: block;
}
.header__link-2,
.header__link-3 {
  margin-top: -69px;
}
.header__link-1 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}
.header__link-2 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.16);
}
.hero {
  margin-top: 16px;
}
.hero__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 82%;
  padding: 0 20px;
  margin: 0 auto;
}
.hero__img-wrapper {
  position: relative;
}
.hero__play-btn {
  position: absolute;
  top: 29px;
  right: -47px;
  width: 119px;
  height: 119px;
  background-image: url('/images/icons/play-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__title-wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  @extend %exo2-italic;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
}
.hero__down-btn {
  display: block;
  width: 152px;
  height: 152px;
  margin-top: -10px;
  background-image: url('/images/icons/down-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: -16px;
}
.hero__link {
  margin-left: 10px;
}
.gallery-1 {
  margin-top: 18px;
}
.gallery-1__container {
  max-width: 93%;
}
.gallery-1__img img {
  display: block;
}
.gallery-1__img--1 {
  margin-right: 54px;
  margin-left: auto;
  width: 442px;
}
.gallery-1__img--2 {
  position: relative;
  margin-top: -270px;
  margin-left: 12%;
  width: 462px;
}
.gallery-1__img--2::after {
  position: absolute;
  top: -119px;
  right: -134px;
  content: '';
  width: 235px;
  height: 202px;
  background-image: url('/images/icons/eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery-1__img--3 {
  margin-top: 121px;
  margin-right: 185px;
  margin-left: auto;
  width: 442px;
}
.gallery-1__img--4 {
  margin-top: -161px;
  width: 716px;
}
.gallery-1__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 158px;
}
.gallery-1__video-img {
  display: block;
  z-index: 1;
}
.gallery-1__video-btn {
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.gallery-1__img--5 {
  margin-top: 237px;
  margin-left: 98px;
  width: 474px;
}
.gallery-1__img--6 {
  margin-left: auto;
  margin-top: -368px;
  margin-right: 82px;
  width: 589px;
}
.gallery-1__img--7 {
  position: relative;
  margin: 292px auto 0;
  width: 1001px;
}
.gallery-2 {
  margin-top: -374px;
  padding: 491px;
  background-color: #fff;
  color: $black;
}
.gallery-1__img--7::after {
  position: absolute;
  top: 179px;
  right: -170px;
  content: '';
  width: 193px;
  height: 209px;
  background-image: url('/images/icons/choker.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
// //
.gallery-2__line img {
  animation: marquee 50s infinite linear;
}
@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@import 'media';
