@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $black;
  @extend %exo2-regular;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.gallery-2__line img {
  animation: marquee 50s infinite linear;
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@import 'media';
