$black: #111111;

%exo2-light {
  font-family: 'Exo2-Light', sans-serif;
  font-style: normal;
  font-weight: 300;
}
%exo2-lightit {
  font-family: 'Exo2-LightItalic', sans-serif;
  font-style: italic;
  font-weight: 300;
}
%exo2-regular {
  font-family: 'Exo2-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%exo2-italic {
  font-family: 'Exo2-Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
}
%exo2-sb {
  font-family: 'Exo2-SemiBold', sans-serif;
  font-style: normal;
  font-weight: 600;
}
%exo2-bold {
  font-family: 'Exo2-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
%exo2-eb {
  font-family: 'Exo2-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: 800;
}
